@using EvdeEczane.Models
@model List<Kampanyalar>
@{
    ViewBag.Title = "Kampanyalar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <h5 class="mb-0">Kampanyalar</h5>
        <a href="/Kampanya/KampanyaEkle" class="btn btn-dark" style="float:right">Kampanya Ekle</a>
    </div><!--end col-->
</div><!--end row-->

<div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-2 row-cols-1">
    @foreach (var item in Model)
    {
        <div class="col mt-4">
            <div class="card shop-list border-0 overflow-hidden rounded">
                <div class="shop-image position-relative overflow-hidden">
                    <img src="@item.KampanyaResim" class="img-fluid" alt="" style="min-height:200px;max-height:200px">
                    @*<a href="product-detail.html" class="overlay-work">
                            <img src="~/AdminContent/assets/images/shop/product/s-1.jpg" class="img-fluid" alt="">
                        </a>*@

                </div>
                <div class="card-body content p-3 border-top">
                    <a href="/Kampanya/KampanyaDetay/@item.ID" class="text-dark product-name h6">@item.KampanyaAdi</a>
                    <div class="d-flex justify-content-between mt-1">
                        @item.KampanyaAciklama
                    </div>
                </div>
                <input type="button" class="btn btn-danger" name="name" value="Kampanya Sil" onclick="KampanyaSil(@item.ID)" />
            </div>
        </div><!--end col-->
    }
</div>

@section Adjs{
    <script>

         function KampanyaSil(ID) {
             getValue("Kampanya/KampanyaSil",
                { ID: ID},
                function (data, err) {
                    if (!data) {
                        return;
                    } else if (data == 'Başarılı') {
                        location.href = '@Url.Action("Kampanyalar", "Kampanya")';
                    }
                    else if (data.indexOf('Hata') > -1) {
                        alert(data)
                    }
                });
        };
    </script>
}
